# Folders
settings/
Release/
Debug/

# Files
*.txt
*.md
*.ewt
*.ewd
*.dep
*.ioc8
*.log
STM8test.dep

# IAR Settings  
**/settings/*.crun  
**/settings/*.dbgdt  
**/settings/*.cspy  
**/settings/*.cspy.*  
**/settings/*.xcl  
**/settings/*.dni  
**/settings/*.wsdt  
**/settings/*.wspos  

# IAR Debug Exe  
**/Exe/*.sim  

# IAR Debug Obj  
**/Obj/*.pbd  
**/Obj/*.pbd.*  
**/Obj/*.pbi  
**/Obj/*.pbi.*  
